.card {
    background-color: #202940;
    padding: 30px 25px 60px 25px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 10px;
  }

.card-header{
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ebecec ;
  margin-bottom: 20px;
}
.card-title{
  font-size: 18px;
  color: #fff;
}