.workTimeRecordCalender{
    width: 100%;
    justify-content: center;
    border-collapse: collapse;
}

.workTimeRecordCalender-header th{
    color: #ddd;
}

.workTimeRecordCalender-header__day{
    width: calc(100%/7);
    text-align: center;
    border: 1px solid #ddd;
    text-transform: capitalize;
}

.workTimeRecordCalender-date{
    color: #ddd;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 20px;
}